body{
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding:0;
}
section{
    background-color: white;
}

.hero{
    background-color: #1c1d25;
    height: 100vh;
    color: white;
    font-size:25px;  
}

footer{
    background-color: black;
    padding:80px;
    color: white;
    text-align: center;
}

nav{
    display: flex;
    justify-content: space-between;
}

ul{
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 20px;
}

li{
    /* width: 200px; */
    text-decoration: none;

}
h1{
    font-size: 70px;
    margin: 0px;
}
h2{
    font-size: 40px;
}
p{
    margin:0;
    font-size: 30px;
    font-weight: 300 ;
}
.subtext{
    font-size: 15px;
    font-weight: 300;
}
.hero-area{
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}
.hero-text{
    margin-left: 80px;
    margin-bottom:200px;
}
.button{
    width: 150px;
    height:40px;
    border-radius: 30px;
    background-color: coral;
    text-align: center; 
    padding-top: 3px;
    /* padding-bottom: 5px; */
    font-size: 21px;
    font-weight: 300;
    margin-top:20px;
}
.button:hover{
    background-color: #ef744b;
}
.button:active{
    background-color: darkgrey;
    color:#808080;
}
.socials{
    padding-bottom: 200px;
}
.logo{
    height:80px;
    margin:30px;
}
.social{
    margin: 10px;
}
.sub-section{
    display: flex;
    justify-content: space-around;
    padding: 80px;
}
.sub-section-alternative{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 80px;
}
.headshot{
     width: 250px;
    height: 250px; 
    border-radius: 150px;
}
.headshot-container{
    display: flex;
    align-items: center;
}
.project-card{
    width: 200px;
    height: 300px;
    box-shadow: 5px 5px 20px rgb(182, 182, 182);
    margin: 10px;
}
.project-container{
    display: flex;
    justify-content: space-around;
}
@media only screen and (max-width:1000px){
    .project-container{
        display: flex;
        flex-wrap: wrap;
    }
}
.project-image{
    margin-top: 15px;
    width: 150px;
    height: 150px; 
    border-radius: 125px;
}

hr{
    margin-left: 20px;
    margin-right: 20px;
}
.project-link{
    text-decoration: none;
    color: #ef744b;
}
a{
    text-decoration: none;
    color:white;
}
.hamburger{
   display: none;
}
.hamburger:focus{
    outline: 0;
}
@media only screen and (max-width:1000px){
    .hamburger{
        border:0;
        color:white;
        background-color: transparent;
        font-size: 30px;
        display: block;
        margin: 20px;
        align-self: flex-end;
        
    }
    ul{
        display: none;
        background-color:#2b2c38;
        margin: 0px;
    }
    ul.show{
        display: block;
    }
    
    nav{
        /* align-items: flex-start; */
        display: flex;
        flex-direction: column-reverse;
        background-color:#2b2c38;
    }
    /* .logo{
        display: none;
    } */
    .logo{
        width:80px;
        margin:30px;
    }
}